
<footer class="page-footer blue-grey darken-4 ">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Contacte con nosotros!</h5>
                <h6 class = "grey-text">Cuentas Personales:</h6>

                <li><a class="grey-text text-lighten-3" href="https://www.instagram.com/octa.testa/"> Octavio Testa</a>
                </li>
                <li><a class="grey-text text-lighten-3" href="https://www.instagram.com/salvagibert/"> Salvador
                    Gibert</a></li>
                <li><a class="grey-text text-lighten-3" href="https://www.instagram.com/licholucero_/"> Lisandro
                    Lucero</a></li>
            </div>
            <div class="col l4 offset-l2 s12">
                <br>
                <h6 class="grey-text">Correo Administrativo:</h6>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="https://mail.google.com/mail/u/0/#inbox?compose=CllgCJTJndFXlvHSzsTsFxpghHblpcVmkKkCtpfxVlghZGfxrzWstrwcBmXTHFqFnGxRpVQkFXB">oclipoinmobiliaria@gmail.com</a></li>
                </ul>
              </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2020 Copyright Text OCLIPO PRODUCCIONES
            </div>
        </div>
</footer>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('.materialboxed');
        var instances = M.Materialbox.init(elems);
    });
</script>