{% extends 'Inmobibliaria/base.html' %}

{% block content %}
{% include 'Inmobibliaria/imagenes.html' %}

{% if user.is_authenticated %}
<div class="fixed-action-btn">
    <a class="btn-floating btn-large red modal-trigger pulse blue-grey darken-4" href="formulario/">
        <i class="large material-icons">add</i>
    </a>
</div>
{% endif %}

<div class="container ">
    <div class="row">
        {% load index %}
        {% for pro in propiedades %}
        <div class="col s12 m4">
            <div class="card z-depth-5">
                <div class="card-image ">
                    <img class="materialboxed" src="media/{{ imagenes|index:forloop.counter0 }}" width="200"
                         height="200">
                    <span class="card-title text-darken-2 "><b>{{pro.titulo}}<b/></span>
                </div>

                <div class="card-content">
                    <h5 class="truncate"><b> Dueño: {{pro.usuario}} </b></h5>
                    <h5 class="truncate  green-text text-darken-2"><b>${{pro.precio}}<b/></h5>
                </div>
                <div class="card-action center-align">
                    <a href="propiedad/{{pro.id}}">Mas Información</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
{% include 'Inmobibliaria/footer.html' %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('.materialboxed');
        var instances = M.Materialbox.init(elems);
    });
</script>
{% endblock %}