{% load static %}

<div class="slider">
    <ul class="slides ">
      <li>
          <img src="{% static 'foto1.jpg' %}"> <!-- random image -->
        <div class="caption center-align ">
          <h3><b>Bienvenidos!</b></h3>
          <h5 class="light grey-text text-lighten-3">Encontra la propiedad de tus sueños!</h5>
        </div>
      </li>
      <li>
        <img src="{% static 'foto2.jpg' %}"> <!-- random image -->
        <div class="caption left-align">
          <h3><b>La Compra mas SEGURA!</b></h3>
          <h5 class="light grey-text text-lighten-3">Reserva con anticipacion!</h5>
        </div>
      </li>
      <li>
        <img src="{% static 'foto3.jpg' %}"> <!-- random image -->
        <div class="caption right-align">
          <h3><b>Rebajas de VERANO!</b></h3>
          <h5 class="light grey-text text-lighten-3 ">No te quedes sin tu propiedad</h5>
        </div>
      </li>
</ul>
    </div>

  
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      var elems2 = document.querySelectorAll('.slider');
      var instances2 = M.Slider.init(elems2);
    });
  </script>