{% load static %}
<div class="navbar-fixed  ">
    <nav class="blue-grey darken-4 z-depth-2 ">
      <div class="nav-wrapper container ">
        <a class="brand-logo text-warning amber-text text-darken-2" href="{% url "home" %}" ><i class="medium material-icons ">gesture</i>Inmobibliaria OCLIPO</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down text-warning">
          <li><a href="/" ><i class="medium material-icons  ">home</i></a>
          <li><a href="" class="">Sobre Nosotros</a></li>

{% if user.is_authenticated %}
            <li><a href="/logout" class="">Log Out</a></li>
            <li><a  class="amber-text text-darken-2">{{user.username}}</a></li>
{% else %}
            <li><a href="/login" class="">Sign Up</a></li>
            <li><a href="/register" class="">Register</a></li>
{% endif %}


        </ul>
      </div>
    </nav>
  </div>
  <ul class="sidenav" id="mobile-demo">
    <li><a href="/" class="amber-text text-darken-2">Inicio</a></li>
    <li><a href="#" class="">Sobre Nosotros</a></li>
    {% if user.is_authenticated %}
      <li><a href="" class="amber-text text-darken-2">{{user.username}}</a></li>
      <li><a href="/logout" class="">Cerrar Cesión</a></li>
    {% else %}
      <li><a href="/login" class="">Iniciar Sesión</a></li>
      <li><a href="/register" class="">Registrarse</a></li>
    {% endif %}
  </ul>

  <script>
    document.addEventListener('DOMContentLoaded', function() {
      var elems = document.querySelectorAll('.sidenav');
      var instances = M.Sidenav.init(elems);
    });
  </script>